.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  @media (min-width: 580px) {
    gap: 25px;
  }

  @media (min-width: 1250px) {
    flex-direction: column;
  }

  .avatar-box {
    background: var(--bg-gradient-onyx);
    border-radius: 20px;

    img {
      width: 80px;
      border-radius: 20px;

      @media (min-width: 580px) {
        width: 120px;
        border-radius: 30px;
      }
      @media (min-width: 1250px) {
        width: 150px;
      }
    }

    @media (min-width: 580px) {
      border-radius: 30px;
    }
  }

  .info-content {

    .name {
      color: var(--white-2);
      font-size: var(--fs-3);
      font-weight: var(--fw-500);
      letter-spacing: -0.25px;
      margin-bottom: 10px;

      @media (min-width: 580px) {
        margin-bottom: 15px;
      }
      @media (min-width: 1250px) {
        white-space: nowrap;
        text-align: center;
      }
    }

    .title {
      color: var(--white-1);
      background: var(--onyx);
      font-size: var(--fs-8);
      font-weight: var(--fw-300);
      width: max-content;
      padding: 3px 12px;
      border-radius: 8px;

      @media (min-width: 580px) {
        padding: 5px 18px;
      }
      @media (min-width: 1250px) {
        margin: auto;
      }
    }
  }

  .info_more-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 0 15px;
    font-size: 13px;
    color: var(--orange-yellow-crayola);
    background: var(--border-gradient-onyx);
    padding: 10px;
    box-shadow: var(--shadow-2);
    transition: var(--transition-1);
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      inset: 1px;
      border-radius: inherit;
      background: var(--bg-gradient-jet);
      transition: var(--transition-1);
      z-index: -1;
    }
    &:hover, &:focus {
      background: var(--bg-gradient-yellow-1);
    }
    &:hover::before, &:focus::before {
      background: var(--bg-gradient-yellow-2);
    }


    @media (min-width: 580px) {
      top: -30px;
      right: -30px;
      padding: 10px 15px;
    }
    @media (min-width: 1250px) {
      display: none;
    }


    span {
      display: none;

      @media (min-width: 580px) {
        display: block;
        font-size: var(--fs-8);
      }
    }

    .ion-icon {
      display: block;

      @media (min-width: 580px) {
        display: none;
      }

    }
  }

}