.filter-list {
  display: none;

  @media (min-width: 768px){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding-left: 5px;
    margin-bottom: 30px;
  }

  .filter-item {
    
    button {
      color: var(--light-gray);
      font-size: var(--fs-5);
      transition: var(--transition-1);
      &:hover {
        color: var(--light-gray-70);
      }
      &.active {
        color: var(--orange-yellow-crayola);
      }
    }
  }


}