.filter-select-box {
  position: relative;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    display: none;
  }


  .filter-select {
    background: var(--eerie-black-2);
    color: var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    font-size: var(--fs-6);
    font-weight: var(--fw-300);


    &.active {
      .select-icon {
        transform: rotate(0.5turn);
      }
    }

  }

  .select-list {
    background: var(--eerie-black-2);
    position: absolute;
    top: calc(100% + 6px);
    width: 100%;
    padding: 6px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.15s ease-in-out;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    .select-item {
      button {
        background: var(--eerie-black-2);
        color: var(--light-gray);
        font-size: var(--fs-6);
        font-weight: var(--fw-300);
        text-transform: capitalize;
        width: 100%;
        padding: 8px 10px;
        border-radius: 8px;
        &:hover {
          --eerie-black-2: hsl(240, 2%, 20%);
        }
      }
    }
  }

}