.blog-post-item {

  a {
    position: relative;
    background: var(--border-gradient-onyx);
    height: 100%;
    box-shadow: var(--shadow-4);
    border-radius: 16px;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      inset: 1px;
      border-radius: inherit;
      background: var(--eerie-black-1);
      z-index: -1;
    }

    .blog-banner-box {
      width: 100%;
      height: 200px;
      border-radius: 12px;
      overflow: hidden;

      @media (min-width: 450px) {
        height: auto;
      }
      @media (min-width: 580px) {
        border-radius: 16px;
      }
      @media (min-width: 1024px) {
        height: 230px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: var(--transition-1);
      }
    }

    .blog-content {
      padding: 15px;
      @media (min-width: 580px) {
        padding: 25px;
      }

      .blog-meta {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 7px;
        margin-bottom: 10px;

        .blog-category {
          color: var(--light-gray-70);
          font-size: var(--fs-6);
          font-weight: var(--fw-300);
        }

        time {
          color: var(--light-gray-70);
          font-size: var(--fs-6);
          font-weight: var(--fw-300);
        }

        .dot {
          background: var(--light-gray-70);
          width: 4px;
          height: 4px;
          border-radius: 4px;
        }

      }

      .h3 {
        color: var(--white-2);
        text-transform: capitalize;
        font-size: var(--fs-2);
      }

      .blog-item-title {
        margin-bottom: 10px;
        line-height: 1.3;
        transition: var(--transition-1);
      }

      .blog-text {
        color: var(--light-gray);
        font-size: var(--fs-6);
        font-weight: var(--fw-300);
        line-height: 1.6;
      }
    }

    &:hover {
      .blog-banner-box {
        img {
          transform: scale(1.1);
        }
      }

      .blog-item-title {
        color: var(--orange-yellow-crayola);
      }
    }
  }
}